<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1>DeliDeli</h1>
<h2>User</h2>
<ul>
    <li><a href="/user/login">유저 로그인</a></li>
    <li><a href="/user/register">유저 회원가입</a></li>
    <li><a href="/user/findId">유저 아이디 찾기</a></li>
    <li><a href="/user/findPw">유저 비밀번호 찾기</a></li>
</ul>
<h2>Client</h2>
<ul>
    <li><a href="/client/login">사장 로그인</a></li>
    <li><a href="/client/register">사장 회원가입</a></li>
    <li><a href="/client/findId">사장 아이디 찾기</a></li>
    <li><a href="/client/findPw">사장 비밀번호 찾기</a></li>
</ul>
<h2>Admin</h2>
<ul>
    <li><a href="/admin/login">관리자 로그인</a></li>
</ul>

</body>
</html>
